/*contêiner principal do feed */
.feed-container {
    min-height: 100vh;
    background-color: #f7fafc;
    padding: 1.5rem;
}

/*título principal */
.feed-title {
    font-size: 2.5rem;
    color: #1e3a8a;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

/*contêiner de postagens */
.feed-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}